{%extends 'base.html'%}
{% block title %}Craete article{% endblock title %}
{% block content %}

<p>{{object.created_at}}</p>

{% for item  in object.items.all  %}
    {{item.product}}
    quantity{{item.quantity}}
    {{item.product.price}}
    <br>
{%empty%}
<p>Cart is empty start shopping now</p>
{% endfor %}
<h1>Total {{object.total_price}}</h1>
{% if request.user.is_authenticated %}


    <form action="#", method="Post"> {%csrf_token%}
        <input type="submit" value="Place order" >
    </form>
  
{%endif%}

{% endblock content %}