{%extends 'base.html'%}
{% block title %}Your cart{% endblock title %}
{% block content %}

<p>{{object.created_at}}</p>
{% for item  in object.items.all  %}
    {{item.product}} 
    quantity{{item.quantity}}
    {{item.product.price}}
     <a href="{% url 'store:cartitem-update' item.pk %}">Edit</a>
     <a href="{% url 'store:cartitem-delete' item.pk %}">Delete</a>
    <br>
{%empty%}
<p>Cart is empty start shopping now</p>
{% endfor %}
<h1>Total {{object.total_price}}</h1>


    <form  method="Post"> {%csrf_token%}
        <input type="submit" value="Submit" >
    </form>
  

{% endblock content %}