{%extends 'base.html'%}
{% block title %}products{% endblock title %}
{% block content %}
<h1>Products</h1>
<a style="font-size:larger;float:right;margin-right: 60px;" href="#">Create an
    product</a>

<ul>
    {% for product in page_obj %}

    <a href="{{product.get_absolute_url}}">
        <li>{{product}}</li>
    </a>
    {% endfor %}

    
</ul><br><br>

<div>
    {% if page_obj.has_previous %}
    <a href="?page=1">First</a>
    <a href="?page={{page_obj.previous_page_number}}">{{page_obj.previous_page_number}}</a>
    {% endif %}
    <p style="display:inline;font-size: larger;color: aquamarine;">{{page_obj.number}}</p>
    {% if page_obj.has_next %}
    <a href="?page={{page_obj.next_page_number}}">{{page_obj.next_page_number}}</a>
    <a href="?page={{page_obj.paginator.num_pages}}">Last</a>

    {% endif %}
</div>

{% endblock content %}